* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: inherit;
  background-color: #ff6044;
}

canvas {
  z-index: 99;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 100px;
  z-index: 99;
}
@media (min-width: 355px) {
  header {
    height: 30px;
  }
}
@media (min-width: 390px) {
  header {
    height: 30px;
  }
}
@media (min-width: 768px) {
  header {
    height: 100px;
  }
}
@media (min-width: 1200px) {
  header {
    height: 100px;
  }
}

.button-tree {
  padding-top: 20px;
  vertical-align: middle;
  width: 50%;
  color: #000000;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  background-color: #ffffff;
}
@media (min-width: 355px) {
  .button-tree {
    width: 50%;
    font-size: 10px;
    padding-top: 10px;
  }
}
@media (min-width: 390px) {
  .button-tree {
    width: 50%;
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .button-tree {
    width: 50%;
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .button-tree {
    width: 50%;
    font-size: 50px;
  }
}

.button-tree:hover {
  background-color: #ff6044;
  -webkit-box-shadow: 0px 15px 50px #ff6044;
          box-shadow: 0px 15px 50px #ff6044;
  -webkit-box-shadow: inset 0 -1px 100px #e8e5e2, inset 0 5px 100px #b86e55;
          box-shadow: inset 0 -1px 100px #e8e5e2, inset 0 5px 100px #b86e55; /*top internal highlight*/
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.button-sat {
  display: inline-block;
  padding-top: 32px;
  vertical-align: middle;
  width: 50%;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  background-color: #000000;
  -webkit-box-shadow: 0px 15px 50px rgb(0, 0, 0);
          box-shadow: 0px 15px 50px rgb(0, 0, 0);
  -webkit-box-shadow: inset 0 -1px 100px #1e6eb7, inset 0 5px 100px #b86e55;
          box-shadow: inset 0 -1px 100px #1e6eb7, inset 0 5px 100px #b86e55; /*top internal highlight*/
}
@media (min-width: 355px) {
  .button-sat {
    width: 50%;
    font-size: 10px;
    padding-top: 10px;
  }
}
@media (min-width: 390px) {
  .button-sat {
    width: 50%;
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .button-sat {
    width: 50%;
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .button-sat {
    width: 50%;
    font-size: 50px;
  }
}

.button-sat:hover {
  color: #000000;
  background-color: #ff6044;
  -webkit-box-shadow: 0px 15px 50px #ff6044;
          box-shadow: 0px 15px 50px #ff6044;
  -webkit-box-shadow: inset 0 -1px 100px #e8e5e2, inset 0 5px 100px #b86e55;
          box-shadow: inset 0 -1px 100px #e8e5e2, inset 0 5px 100px #b86e55; /*top internal highlight*/
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.menu {
  position: sticky;
  top: 0;
}

.program-top {
  display: block;
  width: 100%;
  padding-top: 0px;
}

.glossary-info {
  display: block;
  padding: 80px;
  margin-bottom: 5px;
  color: #000000;
  font-size: 6em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  border: solid;
  border-width: 1px;
  background-color: #e8e5e2;
  -webkit-box-shadow: 0px 15px 50px rgb(0, 0, 0);
          box-shadow: 0px 15px 50px rgb(0, 0, 0);
  -webkit-box-shadow: inset 0 -1px 100px #1e6eb7, inset 0 5px 100px #b86e55;
          box-shadow: inset 0 -1px 100px #1e6eb7, inset 0 5px 100px #b86e55; /*top internal highlight*/
}
@media (min-width: 355px) {
  .glossary-info {
    font-size: 2em;
    padding: 40px;
  }
}
@media (min-width: 390px) {
  .glossary-info {
    font-size: 4em;
  }
}
@media (min-width: 768px) {
  .glossary-info {
    font-size: 5em;
  }
}
@media (min-width: 1200px) {
  .glossary-info {
    font-size: 6em;
  }
}

.glossary-info:hover {
  background-color: #ff6044;
  -webkit-box-shadow: 0px 15px 50px #ff6044;
          box-shadow: 0px 15px 50px #ff6044;
  -webkit-box-shadow: inset 0 -1px 100px #e8e5e2, inset 0 5px 100px #b86e55;
          box-shadow: inset 0 -1px 100px #e8e5e2, inset 0 5px 100px #b86e55; /*top internal highlight*/
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.sort {
  position: sticky;
  top: 0;
}

label {
  display: block;
  float: left;
  position: sticky;
  width: 25%;
  margin-bottom: 5px;
  height: 100%;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-style: solid;
  border-width: 0.01px;
  border-radius: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
}
@media (min-width: 355px) {
  label {
    width: 50%;
  }
}
@media (min-width: 390px) {
  label {
    width: 100%;
  }
}
@media (min-width: 768px) {
  label {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  label {
    width: 25%;
  }
}

label:hover {
  color: #000000;
  background-color: #ff6044;
  -webkit-box-shadow: 0px 15px 50px #ff6044;
          box-shadow: 0px 15px 50px #ff6044;
  -webkit-box-shadow: inset 0 -1px 100px #e8e5e2, inset 0 5px 100px #b86e55;
          box-shadow: inset 0 -1px 100px #e8e5e2, inset 0 5px 100px #b86e55; /*top internal highlight*/
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

input[type=radio] {
  display: none;
}

.resetbtn:hover {
  border-radius: 100%;
}

input[type=radio][id=wordA]:checked + label {
  background: #ff6600;
  border-radius: 30px;
  color: white;
  border-color: #ff6600;
}

input[type=radio][id=wordA]:checked ~ .wordB {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

input[type=radio][id=wordB]:checked + label {
  background: #ff6600;
  border-radius: 30px;
  color: white;
  border-color: #ff6600;
}

input[type=radio][id=wordB]:checked ~ .wordA {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

input[type=radio][id=wordC]:checked + label {
  background: #ff6600;
  border-radius: 30px;
  color: white;
  border-color: #ff6600;
}

input[type=radio][id=wordC]:checked ~ .wordA,
input[type=radio][id=wordC]:checked ~ .wordB {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.tile {
  float: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-bottom: 5px;
}
@media (min-width: 355px) {
  .tile {
    width: 100%;
  }
}
@media (min-width: 390px) {
  .tile {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .tile {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .tile {
    width: 25%;
  }
}

.tile:hover {
  background-color: rgb(0, 255, 34);
}

.button {
  float: left;
  width: 100%;
  color: white;
  font-size: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
  z-index: 10px;
  border-style: solid;
  border-radius: 30px;
  border-width: 2px;
  border-color: rgb(255, 102, 0);
  text-align: center;
  text-decoration: none;
}
@media (min-width: 355px) {
  .button {
    font-size: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
@media (min-width: 390px) {
  .button {
    font-size: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
@media (min-width: 768px) {
  .button {
    font-size: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
@media (min-width: 1200px) {
  .button {
    font-size: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.wordA {
  background-color: #000000;
  border-radius: 30px;
}

.wordA:hover {
  color: #000000;
  background-color: #ff6044;
  -webkit-box-shadow: 0px 15px 50px #ff6044;
          box-shadow: 0px 15px 50px #ff6044;
  -webkit-box-shadow: inset 0 -1px 100px #e8e5e2, inset 0 5px 100px #b86e55;
          box-shadow: inset 0 -1px 100px #e8e5e2, inset 0 5px 100px #b86e55; /*top internal highlight*/
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.wordB {
  background-color: #000000;
  border-radius: 30px;
}

.wordB:hover {
  color: #000000;
  background-color: #ff6044;
  -webkit-box-shadow: 0px 15px 50px #ff6044;
          box-shadow: 0px 15px 50px #ff6044;
  -webkit-box-shadow: inset 0 -1px 100px #e8e5e2, inset 0 5px 100px #b86e55;
          box-shadow: inset 0 -1px 100px #e8e5e2, inset 0 5px 100px #b86e55; /*top internal highlight*/
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.wordC {
  background-color: #000000;
  border-radius: 30px;
}

.wordC:hover {
  color: #000000;
  background-color: #ff6044;
  -webkit-box-shadow: 0px 15px 50px #ff6044;
          box-shadow: 0px 15px 50px #ff6044;
  -webkit-box-shadow: inset 0 -1px 100px #e8e5e2, inset 0 5px 100px #b86e55;
          box-shadow: inset 0 -1px 100px #e8e5e2, inset 0 5px 100px #b86e55; /*top internal highlight*/
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.popup {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  scale: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba 0, 0, 0, 0.1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.popup-title {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 99;
}
@media (min-width: 355px) {
  .popup-title {
    bottom: 0px;
    right: 0px;
    z-index: 99;
  }
}
@media (min-width: 390px) {
  .popup-title {
    bottom: 0px;
    right: 0px;
    z-index: 99;
  }
}
@media (min-width: 768px) {
  .popup-title {
    top: 0px;
    right: 0px;
    z-index: 99;
  }
}
@media (min-width: 1200px) {
  .popup-title {
    bottom: 0px;
    right: 0px;
    z-index: 99;
  }
}

.button-popclose {
  color: rgb(0, 0, 0);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 35px;
  bottom: 0;
  text-align: center;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  -webkit-box-shadow: 0px 5px 50px rgb(87, 87, 87);
          box-shadow: 0px 5px 50px rgb(87, 87, 87);
}
@media (min-width: 355px) {
  .button-popclose {
    bottom: 0;
    right: 0px;
    z-index: 99;
    width: 100%;
  }
}
@media (min-width: 390px) {
  .button-popclose {
    bottom: 0px;
    right: 0px;
    z-index: 99;
  }
}
@media (min-width: 768px) {
  .button-popclose {
    top: 0px;
    right: 0px;
    z-index: 99;
  }
}
@media (min-width: 1200px) {
  .button-popclose {
    bottom: 0px;
    right: 0px;
    z-index: 99;
  }
}

.large-titleblur {
  position: fixed;
  z-index: -10;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 4em;
  margin-bottom: 5px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow: 0px 5px 50px rgb(255, 255, 255);
  font-weight: bold;
  font-stretch: extra-condensed;
  border-radius: 35px;
  background-color: #ff6044;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}
@media (min-width: 355px) {
  .large-titleblur {
    font-size: 1.5em;
  }
}
@media (min-width: 390px) {
  .large-titleblur {
    font-size: 2em;
  }
}
@media (min-width: 768px) {
  .large-titleblur {
    font-size: 3em;
  }
}
@media (min-width: 1200px) {
  .large-titleblur {
    font-size: 3.5em;
  }
}

.large-title {
  display: block;
  z-index: 15;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 4em;
  margin-bottom: 5px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #000000;
  text-shadow: 0px 5px 50px rgb(255, 255, 255);
  font-weight: bold;
  font-stretch: extra-condensed;
  border-radius: 35px;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: inset 0 -1px 10px #1e6eb7, inset 0 5px 100px rgba(232, 229, 226, 0);
          box-shadow: inset 0 -1px 10px #1e6eb7, inset 0 5px 100px rgba(232, 229, 226, 0); /*top internal highlight*/
}
@media (min-width: 355px) {
  .large-title {
    font-size: 1.5em;
  }
}
@media (min-width: 390px) {
  .large-title {
    font-size: 2em;
  }
}
@media (min-width: 768px) {
  .large-title {
    font-size: 3em;
  }
}
@media (min-width: 1200px) {
  .large-title {
    font-size: 3.5em;
  }
}

.popup-inner {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 70%;
  margin-bottom: 5px;
  color: white;
  padding: 35px;
  overflow-y: auto;
  scrollbar-width: 1px;
  scroll-behavior: smooth;
  scrollbar-color: black;
  border-radius: 35px;
  -webkit-box-shadow: 0px 15px 50px rgb(0, 0, 0);
          box-shadow: 0px 15px 50px rgb(0, 0, 0);
}
@media (min-width: 355px) {
  .popup-inner {
    height: 72%;
  }
}
@media (min-width: 390px) {
  .popup-inner {
    height: 72%;
  }
}
@media (min-width: 768px) {
  .popup-inner {
    height: 73%;
  }
}
@media (min-width: 1200px) {
  .popup-inner {
    height: 72%;
  }
}

.scrollbar {
  color: #000000;
}

.popup:target {
  opacity: 1;
  scale: 1;
  pointer-events: all;
  background-color: #d9d9d9;
  display: block;
}

.titletext {
  font-size: 10em;
  line-height: 1em;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: solid;
  border-bottom-color: rgb(255, 255, 255);
  padding-bottom: 0px;
  border-bottom-width: 1px;
}
@media (min-width: 355px) {
  .titletext {
    font-size: 3em;
  }
}
@media (min-width: 390px) {
  .titletext {
    font-size: 4em;
  }
}
@media (min-width: 768px) {
  .titletext {
    font-size: 6em;
  }
}
@media (min-width: 1200px) {
  .titletext {
    font-size: 8em;
  }
}

.authortext {
  font-size: 1em;
  line-height: 2em;
}

.textpop {
  font-size: 2em;
  text-justify: inter-cluster;
}
@media (min-width: 355px) {
  .textpop {
    font-size: 1em;
  }
}
@media (min-width: 390px) {
  .textpop {
    font-size: 1.5em;
  }
}
@media (min-width: 768px) {
  .textpop {
    font-size: 1.8em;
  }
}
@media (min-width: 1200px) {
  .textpop {
    font-size: 2em;
  }
}

.popup-input {
  color: white;
  padding: 30px;
  width: 100%;
  height: 13%;
  bottom: 0%;
  overflow-y: hidden;
  border-radius: 35px;
  background-color: #e8e5e2;
  -webkit-box-shadow: 0px 15px 50px rgb(0, 0, 0);
          box-shadow: 0px 15px 50px rgb(0, 0, 0);
  -webkit-box-shadow: inset 0 -1px 100px #1e6eb7, inset 0 5px 100px #b86e55;
          box-shadow: inset 0 -1px 100px #1e6eb7, inset 0 5px 100px #b86e55; /*top internal highlight*/
}
@media (min-width: 355px) {
  .popup-input {
    height: 21%;
  }
}
@media (min-width: 390px) {
  .popup-input {
    height: 21%;
  }
}
@media (min-width: 768px) {
  .popup-input {
    height: 21%;
  }
}
@media (min-width: 1200px) {
  .popup-input {
    height: 21%;
  }
}

textarea {
  width: 100%;
  height: 100%;
  color: #000000;
  background-color: rgba(0, 0, 0, 0);
  border-color: #000000;
  font-size: 15px;
  padding: 10px;
  resize: none;
}
@media (min-width: 355px) {
  textarea {
    font-size: 11px;
    height: 100%;
  }
}
@media (min-width: 390px) {
  textarea {
    font-size: 11px;
  }
}
@media (min-width: 768px) {
  textarea {
    font-size: 11px;
  }
}
@media (min-width: 1200px) {
  textarea {
    font-size: 24px;
  }
}

#buttonname {
  padding: 0;
  display: block;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media (min-width: 390px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
@media (min-width: 768px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

.buttonAction {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border-style: solid;
  border-width: 0.5px;
  background-color: rgb(184, 184, 184);
  cursor: pointer;
}
